public/wsdl/ics2/mocked/BusinessActivityService/ICS/ReferralManagementBAS/V1/CCN2.Service.Customs.Default.ICS.ReferralManagementBAS_1.0.0_1.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://xmlns.ec.eu/BusinessActivityService/ICS/ReferralManagementBAS/V1" xmlns:itf="http://xmlns.ec.eu/BusinessActivityService/ICS/IReferralManagementBAS/V1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tmn="http://xmlns.ec.eu/BusinessMessages/TATAFng/Monitoring/V1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.ec.eu/BusinessActivityService/ICS/ReferralManagementBAS/V1" name="ReferralManagementBAS">
  <wsdl:import namespace="http://ccn2.ec.eu/CCN2.Service.Platform.SecurityPolicies" location="../../../../Policies/CCN2/CCN2.Service.Platform.SecurityPolicies.wsdl" />
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="http://xmlns.ec.eu/BusinessActivityService/ICS/IReferralManagementBAS/V1" schemaLocation="ICCN2.Service.Customs.Default.ICS.ReferralManagementBAS.xsd" />
      <xs:import namespace="http://xmlns.ec.eu/BusinessMessages/TATAFng/Monitoring/V1" schemaLocation="../../../../BusinessObjects/ICS/Common/V1/Monitoring.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IE4Q04requestAdditionalInformationReqMsg">
    <wsdl:part name="param" element="itf:IE4Q04requestAdditionalInformationReqMsg" />
  </wsdl:message>
  <wsdl:message name="IE4R02provideAdditionalInformationReqMsg">
    <wsdl:part name="param" element="itf:IE4R02provideAdditionalInformationReqMsg" />
  </wsdl:message>
  <wsdl:message name="IE4Q05requestHRCMReqMsg">
    <wsdl:part name="param" element="itf:IE4Q05requestHRCMReqMsg" />
  </wsdl:message>
  <wsdl:message name="IE4R03provideHRCMResultReqMsg">
    <wsdl:part name="param" element="itf:IE4R03provideHRCMResultReqMsg" />
  </wsdl:message>
  <wsdl:message name="IsAlive">
    <wsdl:part name="param" element="tmn:isAliveReqMsg" />
  </wsdl:message>
  <wsdl:portType name="ReferralManagementBAS">
    <wsdl:documentation>ReferralManagementBAS functionalities description</wsdl:documentation>
    <wsdl:operation name="IE4Q04requestAdditionalInformation">
      <wsdl:input name="IE4Q04requestAdditionalInformationReqMsg" message="IE4Q04requestAdditionalInformationReqMsg" wsaw:action="CCN2.Service.Customs.EU.ICS.ReferralManagementBAS/IE4Q04requestAdditionalInformation" />
    </wsdl:operation>
    <wsdl:operation name="IE4R02provideAdditionalInformation">
      <wsdl:input name="IE4R02provideAdditionalInformationReqMsg" message="IE4R02provideAdditionalInformationReqMsg" wsaw:action="CCN2.Service.Customs.EU.ICS.ReferralManagementBAS/IE4R02provideAdditionalInformation" />
    </wsdl:operation>
    <wsdl:operation name="IE4Q05requestHRCM">
      <wsdl:input name="IE4Q05requestHRCMReqMsg" message="IE4Q05requestHRCMReqMsg" wsaw:action="CCN2.Service.Customs.EU.ICS.ReferralManagementBAS/IE4Q05requestHRCM" />
    </wsdl:operation>
    <wsdl:operation name="IE4R03provideHRCMResult">
      <wsdl:input name="IE4R03provideHRCMResultReqMsg" message="IE4R03provideHRCMResultReqMsg" wsaw:action="CCN2.Service.Customs.EU.ICS.ReferralManagementBAS/IE4R03provideHRCMResult" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input name="IsAlive" message="IsAlive" wsaw:action="CCN2.Service.Customs.EU.ICS.ReferralManagementBAS/IsAlive" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
