public/wsdl/ics2/mocked/BusinessObjects/ICS/Common/V1/AbstractFaultType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://xmlns.ec.eu/BusinessObjects/Core/AbstractFaultType/V1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="AbstractFaultType" abstract="true">
        <xsd:sequence>
            <xsd:element name="errorCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="errorReason" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
