public/wsdl/ics2/mocked/BusinessObjects/ICS/Common/V1/IE4Q08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:wco:datamodel:WCO:CIS:1" targetNamespace="urn:wco:datamodel:WCO:CIS:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>Generated from input release</xs:documentation>
  </xs:annotation>
  <xs:include schemaLocation="ctypes.xsd" />
  <xs:element name="IE4Q08" type="IE4Q08Type" />
  <xs:complexType name="IE4Q08Type">
    <xs:sequence>
      <xs:element name="MessageHeader" type="MessageHeaderType" />
      <xs:element name="functionalReference" type="FunctionalReferenceContentType" />
      <xs:element name="documentIssueDate" type="DocumentIssueDateType" />
      <xs:element name="relatedENS" maxOccurs="9999" type="RelatedENSType03" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
