public/wsdl/ics2/mocked/BusinessObjects/ICS/Common/V1/IE4S03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:wco:datamodel:WCO:CIS:1" targetNamespace="urn:wco:datamodel:WCO:CIS:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>Generated from input release</xs:documentation>
  </xs:annotation>
  <xs:include schemaLocation="ctypes.xsd" />
  <xs:element name="IE4S03" type="IE4S03Type" />
  <xs:complexType name="IE4S03Type">
    <xs:sequence>
      <xs:element name="MessageHeader" type="MessageHeaderType" />
      <xs:element name="functionalReference" type="FunctionalReferenceContentType" />
      <xs:element name="documentIssueDate" type="DocumentIssueDateType" />
      <xs:element name="MRN" type="MRNContentType" />
      <xs:element name="controlResultDate" type="ControlResultDateType" />
      <xs:element name="customsOfficeOfControl" type="CustomsOfficeOfControlType" />
      <xs:element name="controlResults" maxOccurs="999" type="ControlResultsType02" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
