public/wsdl/ics2/mocked/DataService/ICS/RulesConfigurationManagementDS/V1/CCN2.Service.Customs.Default.ICS.RulesConfigurationManagementDS_1.0.0_1.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://xmlns.ec.eu/DataService/ICS/RulesConfigurationManagementDS/V1" xmlns:ccn2_cmn="http://ccn2.ec.eu/CCN2.Service.Platform.Common.Schema" xmlns:itf="http://xmlns.ec.eu/DataService/ICS/IRulesConfigurationManagementDS/V1" xmlns:servicetypes="http://xmlns.ec.eu/BusinessObjects/ICS/Common/V1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tmn="http://xmlns.ec.eu/BusinessMessages/TATAFng/Monitoring/V1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.ec.eu/DataService/ICS/RulesConfigurationManagementDS/V1" name="RulesConfigurationManagementDS">
  <wsdl:import namespace="http://ccn2.ec.eu/CCN2.Service.Platform.SecurityPolicies" location="../../../../Policies/CCN2/CCN2.Service.Platform.SecurityPolicies.wsdl" />
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="http://xmlns.ec.eu/DataService/ICS/IRulesConfigurationManagementDS/V1" schemaLocation="ICCN2.Service.Customs.Default.ICS.RulesConfigurationManagementDS.xsd" />
      <xs:import namespace="http://xmlns.ec.eu/BusinessObjects/ICS/Common/V1" schemaLocation="../../../../BusinessObjects/ICS/Common/V1/ServiceFault.xsd" />
      <xs:import namespace="http://ccn2.ec.eu/CCN2.Service.Platform.Common.Schema" schemaLocation="../../../../BusinessObjects/CCN2/CCN2.Service.Platform.Common.Schema.xsd" />
      <xs:import namespace="http://xmlns.ec.eu/BusinessMessages/TATAFng/Monitoring/V1" schemaLocation="../../../../BusinessObjects/ICS/Common/V1/Monitoring.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IE4Q07registerOMSParametersReqMsg">
    <wsdl:part name="param" element="itf:IE4Q07registerOMSParametersReqMsg" />
  </wsdl:message>
  <wsdl:message name="IE4Q07registerOMSParametersRespMsg">
    <wsdl:part name="param" element="itf:IE4Q07registerOMSParametersRespMsg" />
  </wsdl:message>
  <wsdl:message name="IsAlive">
    <wsdl:part name="param" element="tmn:isAliveReqMsg" />
  </wsdl:message>
  <wsdl:message name="isAliveResponse">
    <wsdl:part name="param" element="tmn:isAliveRespMsg" />
  </wsdl:message>
  <wsdl:message name="serviceFault">
    <wsdl:part name="param" element="servicetypes:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ccnFault">
    <wsdl:part name="param" element="ccn2_cmn:Fault" />
  </wsdl:message>
  <wsdl:portType name="RulesConfigurationManagementDS">
    <wsdl:documentation>RulesConfigurationManagementDS functionalities description</wsdl:documentation>
    <wsdl:operation name="IE4Q07registerOMSParameters">
      <wsdl:input name="IE4Q07registerOMSParametersReqMsg" message="IE4Q07registerOMSParametersReqMsg" wsaw:action="CCN2.Service.Customs.EU.ICS.RulesConfigurationManagementDS/IE4Q07registerOMSParameters" />
      <wsdl:output name="IE4Q07registerOMSParametersRespMsg" message="IE4Q07registerOMSParametersRespMsg" wsaw:action="CCN2.Service.Customs.EU.ICS.RulesConfigurationManagementDS/IE4Q07registerOMSParametersResponse" />
      <wsdl:fault name="serviceFault" message="serviceFault" />
      <wsdl:fault name="ccnFault" message="ccnFault" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input name="IsAlive" message="IsAlive" wsaw:action="CCN2.Service.Customs.EU.ICS.RulesConfigurationManagementDS/IsAlive" />
      <wsdl:output name="isAliveResponse" message="isAliveResponse" wsaw:action="CCN2.Service.Customs.EU.ICS.RulesConfigurationManagementDS/IsAliveResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
